
<div *ngIf="attachmentType">
    <h2><span>Attachment Type</span> {{attachmentType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Type Name</span></dt>
        <dd>
            <span>{{attachmentType.typeName}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{attachmentType.description}}</span>
        </dd>
        <dt><span>Request Type Def Config</span></dt>
        <dd>
            <div *ngIf="attachmentType.requestTypeDefConfig">
                <a [routerLink]="['/request-type-def-config', attachmentType.requestTypeDefConfig?.id]">{{attachmentType.requestTypeDefConfig?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'attachment-type/'+ attachmentType.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
