
<div *ngIf="refCodeDetails">
    <h2><span>Ref Code Details</span> {{refCodeDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Category</span></dt>
        <dd>
            <span>{{refCodeDetails.category}}</span>
        </dd>
        <dt><span>Ref Code</span></dt>
        <dd>
            <span>{{refCodeDetails.refCode}}</span>
        </dd>
        <dt><span>Ref Value</span></dt>
        <dd>
            <span>{{refCodeDetails.refValue}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ref-code-details/'+ refCodeDetails.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
